Q1. How do you comment code in Python? What are the different types of comments?

In python you can add comment in your program by two ways:
    1)Single line comment:- a hash character is used to add single line comment.
    2) multi_line comment:-  triple quoate(either single or double ) is used .

In [8]:
#This is a single line comment

In [1]:
''' this is multi line comment 
this is 2nd line '''

' this is multi line comment \nthis is 2nd line '

Q2. What are variables in Python? How do you declare and assign values to variables?

In [12]:
# Variable are just like a container in python which store some value. like c,c++ or java in python we do not need 
# to define the datatype of a variable . python understand its datatype.
# to declare a variable in python we have to first give a name as variable then use assignment operator and assgin some 
# value to it .The value can be string, float,integer,list,tuple ,dictionary etc
#Eg:
a=1
b=9.33
c=[1,2,3,4]
d="pwskills"

In [14]:
print(a)
print(b)
print(c)
print(d)

1
9.33
[1, 2, 3, 4]
pwskills

Q3. How do you convert one data type to another in Python?

In [18]:
#You can convert one data type to another by typecasting in python
#Eg:
a='pwskills'
print(list(a))
#In the above exmaple we convert the string in the form of list.

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

Q4. How do you write and execute a Python script from the command line?

In [4]:
# in Jupiter notebook you just have to write a code and press shift + enter to excute it .
# if you want to write and execute python script from the command line . 
# step 1: write a code in any text editor i.e notepad,vs code etc and save the file with extenion .py.
# eg: hello.py
# step 2: open prompt command in your window and first cd and then the folder path.
# eg: cd desktop
#step 3: write python and after that file name
#eg: python hello .py

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [5]:
my_list=[1,2,3,4,5]

In [6]:
sub_list=my_list[1:3]

In [7]:
sub_list

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

It is a no which is represented in a form of a+bi .where a is real part and b is imaginary part.
i is a square root of negative 1.
in python instead of i we use j.

In [10]:
#eg:
a=5+9j

In [12]:
a.imag

9.0

In [13]:
a.real

5.0

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [19]:
#To declare a variable first we have to write the variable name then use assignment operator and assign value to it.
#unlike in c,java,c++ we dont have to declare variable data type in python. Python is a case sensitive language .we cannot 
#nos or special character as a first letter of variable name
#EG:
age=25
Age=24

In [20]:
age

25

In [17]:
Age

24

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [21]:
price = 9.99

In [22]:
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [23]:
name='Om Bhagwat'

In [25]:
#you can print the value of the variable by writing variable name and then press shift +enter to execute it.
#EG:
name

'Om Bhagwat'

Q10. Given the string "Hello, World!", extract the substring "World".

In [26]:
s="Hello,World!"

In [27]:
s[0:5]

'Hello'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [2]:
is_student=True

In [3]:
is_student

True